<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="McKinsey.PowerPointGenerator.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <McKinsey.PowerPointGenerator.App.Properties.Settings>
            <setting name="LastSaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastExcelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTemplateFolder" serializeAs="String">
                <value />
            </setting>
        </McKinsey.PowerPointGenerator.App.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SpreadsheetGear2012.Core" publicKeyToken="39c186f5904944ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.2.102" newVersion="7.1.2.102" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>